:root{
--vermelho: #e50909e8;
--preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}
/* Elementos Base*/
body{
background: var(--preta);
font-family: 'Arial', Times, serif;
color: white;
}

header .container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;  /*Separa a o menu para direita em distancia entre elementos*/
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:houver{
    color: #fff;
}
/*Teste menu*/
header a{
    color: white;
    font-family: 'Manrope', sans-serif;
    padding: 10px 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

header a:hover{
    background-color: red;
    color: black;
}

h2{
    display: flex;
}

h2 a{
    margin-left: 4px;
    padding: 10px;
}

/*Teste acima*/

/* Filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/serie.jpg);

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 5px;
    margin-bottom: 10px;
}

.filme-principal .titulo{
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: wheat;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 13px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
        width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrosel-filmes{
    margin-top: 5px;
}